<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768224089873-1m7cjgv873to1q1ebqs6uruadl9mm16u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768224089873-1m7cjgv873to1q1ebqs6uruadl9mm16u</string>
	<key>API_KEY</key>
	<string>AIzaSyCK-ZG8uHCozYYfzqCmzgSDFU7wUvRTtZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>768224089873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uCourseExample</string>
	<key>PROJECT_ID</key>
	<string>sampleflutter-4b9a4</string>
	<key>STORAGE_BUCKET</key>
	<string>sampleflutter-4b9a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768224089873:ios:3360e2ac2990c0a5979eb0</string>
</dict>
</plist>